<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>ログイン</title>
	</head>
	<body>
		<h1>ログイン</h1>
		<hr>
		<div align="center">
			<table border="0">
				<form action="list/list" method="get">
					<tr>
						<th>
							ユーザID
						</th>
						<td>
							<input type="text" name="user_id" value="" size="24">
						</td>
					</tr>
					<tr>
						<th>
							パスワード
						</th>
						<td>
							<input type="password" name="password" value="" size="24">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="ログイン">
						</td>
					</tr>
				</form>
			</table>
		</div>
	</body>
</html>