<html>
<head>
    <title>Tutorial: Employee List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag 'ror' %>
</head>
<body>
    <h2>社員一覧</h2>

    <table border="1">
        <tr style="background-color:pink">
            <th>社員ID</th><th>社員名</th><th>給料</th><th>編集</th>
        </tr>
        <tr style="background-color:<%= cycle('white', 'yellow') %>">
            <td align="right"></td>
            <td></td>
            <td align="right"></td>
            <td></td>
        </tr>
    </table>
</body>
</html>